h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container {
    display: flex;
}

.adminuser {
    display: flex;
    flex-direction: column;
    width:140px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}