.adminuser {
    display: flex;
    flex-direction: column;
    width:140px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.user {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
}